<h1>Detalles del Mensaje</h1>
<p><strong>ID:</strong> <%= @message.id %></p>
<p><strong>Chat ID:</strong> <%= @message.chat_id %></p>
<p><strong>Usuario:</strong> <%= @message.user.email %></p>
<p><strong>Mensaje:</strong> <%= @message.body %></p>
<p><strong>Fecha:</strong> <%= @message.created_at %></p>
<%= link_to 'Volver', messages_path, class: 'btn btn-secondary' %>